/*
** Colors
*/
$color-base: #da458f;
$color-base-gray: #8e8e8e;
$common-color: #ffffffa6;
$highlight-color: #ffffff;
$color-background-base-gradient: (
  "primary": linear-gradient(91deg, #da458f -6%, #da34dd 113.05%),
  "secondary": linear-gradient(
      81deg,
      rgba(218, 69, 143, 0.4) 7.2%,
      rgba(218, 52, 221, 0) 52.38%
    ),
  "disabled": linear-gradient(
      91deg,
      rgba(218, 69, 143, 0.4) -6%,
      rgba(218, 52, 221, 0.4) 113.05%
    ),
  "inactive": linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
);

/*
** Font families
*/
$fontset-drone: "drone-ranger-pro", sans-serif;
$fontset-inter: "Inter", sans-serif;
