@use "sass:map";
@import "~/styles";

.secondary:not(:global(.ant-btn-dangerous)) {
  &:hover:not(:disabled) {
    color: $highlight-color;
    background: map-get($color-background-base-gradient, "inactive"),
      map-get($color-background-base-gradient, "primary");
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  font-weight: $fw-600;
  font-size: $fs-16;
  color: $highlight-color;
  width: 160px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background: map-get($color-background-base-gradient, "primary");

  &:disabled {
    color: $highlight-color;
    opacity: 0.5;
  }
}
