@import "~/styles";

.container {
  padding: 40px;
  gap: 40px;

  @include device(tablet) {
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 100px;
    padding-bottom: 36px;
  }

  @include device(large-pc) {
    padding-top: 120px;
    padding-left: 159px;
    padding-right: 119px;
    padding-bottom: 54px;
  }
}
